<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="static/images/logo.png" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="recipes.html">Recipes</a></li>
                        <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Chicken Recipes</a></li>
            <li><a class="dropdown-item" href="#">KFC chiken recipe</a></li>
          </ul>
          <li class="nav-item">
          <a class="nav-link disabled"
            href="#">About us</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact us</a>
        </li>
      </ul>

      <a href="signin.html" class="btn btn-1 d-flex flex-column align-items-center">
        <img src="static/images/signin.png" class="rounded-circle" style="height:48px; width:48px;">
        <span>Sign In</span>
      </a>
    </div>
  </div>
  
</nav>
