{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h1>Contact Us</h1>
    <div class="col-lg-6 col-md-4 col-sm-12"
      <ol>
        <li>Phone: 13 11 14</li>
        <li>Email: Kfc@gmail.com</li>
        <li>Address: 67 Goon Road</li>
      </ol>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59858.07105777686!2d118.58851002974995!3d-20.33627062303811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2bf54c86e3180bb1%3A0x500f638247a1100!2sPort%20Hedland%20WA%206721!5e0!3m2!1sen!2sau!4v1748829301749!5m2!1sen!2sau"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
{% endblock %}
